{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Enterobase - Change Email Address{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Administration Panel</h1>
    <ul>
        <li> <a href = {{url_for("auth.edit_users")}}> Edit user Details </a> </li>
    
    </ul>
</div>

{% endblock %}