{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Enterobase - Change Details{% endblock %}

{% block page_content %}
 <p align="center">
        <div   class="register">
          <h3>Register</h3>
          <form class="form-hrizontal method="POST" id="reg-form">
                
                {{macros.render_field(form.username) }} 
                {{macros.render_field(form.firstname) }}
                {{macros.render_field(form.lastname) }}          
                {{macros.render_field(form.department) }} 
                {{macros.render_field(form.institution) }} 
                {{macros.render_field(form.city) }} 
                {{macros.render_field(form.country) }}                
                <p align ="center">
                                {{ form.submit() }}
                
                
              
                
                         
            
        </form >
    
    </div>
    </p>
                          

{% endblock %}