<p>Dear {{ user.firstname }},</p>
<p>Welcome to <b>Enterobase</b>!</p>
<p>Your user details have been copied accross from the Warwick mlst site.
Enterobase can be accessed <a href="{{config['SERVER_ADDRESS']}}">here </a></p>
<p>Sincerely,</p>
<p>The Enterobase Team</p>
