                        <li style='border-bottom: 1px solid #e7e7e7;'>
                            <a href='/species/index/{{species}}' style='background-color: #eee;'>
                            <i class="fa fa-home fa-fw"></i> 
                            Species Home
                            </a>
                            
                        </li>
                        {% if current_user.is_authenticated() and current_user.administrator == 1 %}
                        <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-male fa-fw"></i> 
                                Admin Tasks
                            </a>
                            <ul class="nav nav-second-level collapse in">
                                <li>
                                    <a href='/admin/{{species}}/jobs_monitor'>
                                    <i class="fa fa-list-alt fa-fw"></i> 
                                    Job Monitor 
                                    </a>
                                </li>
                                <li>
                                    <a href='/admin'>
                                     <i class="fa fa-database fa-fw"></i> 
                                    Admin Page
                                    </a>
                                </li>
                                <li>
                                    <a href='/admin/{{species}}/email_users'>
                                     <i class="fa fa-envelope fa-fw"></i> 
                                    Email Users
                                    </a>
                                </li>                                
                                
                            </ul>                          
                        </li>
                       
                        
                        {% endif %}
                        
                        
                        <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-wrench fa-fw"></i> 
                                Tasks
                            </a>
                            <ul class="nav nav-second-level collapse in">
                                <li>
                                    <a href='/species/{{species}}/upload_reads'>
                                    <i class="fa fa-upload fa-fw"></i> 
                                    Upload Reads 
                                    {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a href='/species/{{species}}/search_strains'>
                                    <img src='/static/img/icons/bacteria.png'>
                                    Search Strains 
                                    </a>
                                </li>
                                <li>
                                    <a href='/species/{{species}}/search_strains?query=st_search'>
                                   <i class="fa fa-search"></i> 
                                    Find ST(s)
                                    </a>
                                </li>
                                <li>
                                    <a href='/species/{{species}}/my_strains'>
                                    <img src='/static/img/icons/my_bacteria.png'>
                                    Curate Strains
                                    {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a href='/species/{{species}}/my_jobs'>
                                    <i class="fa fa-list-alt fa-fw"></i> 
                                    Show My Jobs
                                       {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a href='/species/{{species}}/my_buddies'>
                                    <i class="fa fa-users fa-fw"></i> 
                                    My Buddies
                                       {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                  <li>
                                    <a href='/species/{{species}}/locus_search'>
                                    <img src='/static/img/icons/locus_search_icon.gif'>
                                    Locus Search
                                    {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                <!--
                                   <li>
                                    <a href='/species/{{species}}/accessory_genome'>
                                    <img src='/static/img/icons/accessory_genome_icon.gif'>
                                    Accessory Genome
                                    {% if not current_user.is_authenticated() %}
                                     <i class='fa fa-lock'></i>
                                     {% endif %}
                                    </a>
                                </li>
                                 -->
                                <li>
                                    <a href='/species/{{species}}/download_data'>
                                    <i class="fa fa-download fa-fw"></i> 
                                    Download Schemes 
                                    </a>
                                </li>
                                
                            </ul>                          
                        </li>


                {%  if  config['ACTIVE_DATABASES'].get(species)[0]=="Salmonella" or config['ACTIVE_DATABASES'].get(species)[0]== "Escherichia/Shigella" or config['ACTIVE_DATABASES'].get(species)[0]== "Yersinia" or config['ACTIVE_DATABASES'].get(species)[0]== "Clostridioides" %}

                         <li>
                            <a href="https://enterobase.readthedocs.io/en/latest/HierCC_lookup.html" target="_blank" >
                                <i class="fa fa-external-link"></i>
                                HierCC equivalents
                            </a>
                         </li>
                          {% endif %}

                       
               
        


