{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Enterobase - Register Client Request{% endblock %}

{% block maincontent %}
<div class="col-md-4">

    <br>
    <span style="color: blue;">
    We have received your registration request
        <br>
        System administrator will be in touch with you soon
</span>

    <br>

<h4>Request details:</h4>
     <d1>
        {{form.csrf_token}}

     {{wtf.form_field(form.client_name,disabled=True)}}
    {{wtf.form_field(form.client_uri,disabled=True)}}
    {{wtf.form_field(form.description,disabled=True)}}
     </d1>


    <a href="{{ local_url }}">
   <input type="button" value="Continue" />
</a>

        </d1>
    <br>
</div>

{% endblock %}